<connectionStrings>
  <!--在这里定义连接字符串，一定要有providerName-->
  <add name="MySql" connectionString="server=192.168.2.200;database=test;user id=root;password=root;character set=gbk;" providerName="MySql.Data.MySqlClient"/>
  <add name="SQLite" connectionString="Data Source=LangDb.db3;" providerName="System.Data.SQLite"/>
  <add name="Oracle" connectionString="User Id=OROCLE;Password=oracle;Data Source=192.168.2.200:1521/orcl;" providerName="Oracle.ManagedDataAccess.Client"/>
  <add name="MSSQL" connectionString="Data Source=.;Initial Catalog=Test;Integrated Security=true;" providerName="System.Data.SqlClient"/>
</connectionStrings>