<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
  type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FS.CodeTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--在这里定义连接字符串，一定要有providerName-->
    <add name="MySql" connectionString="server=10.110.1.231;database=netcms;user id=root;password=root;character set=gbk;" providerName="MySql.Data.MySqlClient"/>
    <add name="SQLite" connectionString="Data Source=sqlite.db;Version=3;" providerName="System.Data.SQLite"/>
    <add name="Oracle" connectionString="User Id=G_RPT_NW1208;Password=g_rpt_nw1208;Data Source=192.168.2.196:1521/thpms;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="MSSQL" connectionString="Data Source=10.110.1.230;Initial Catalog=XXPL_Server;User ID=sa;Password=123456;Integrated Security=false;"/>
  </connectionStrings>
  <userSettings>
    <!--在这里定义默认的配置-->
    <FS.CodeTool.Properties.Settings>
      <setting name="ModelNameSpace" serializeAs="String">
        <value>Model</value>
      </setting>
      <setting name="ModelGeneratePath" serializeAs="String">
        <value>Models\</value>
      </setting>
      <setting name="ModelTemlpateName" serializeAs="String">
        <value>default</value>
      </setting>
    </FS.CodeTool.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>

      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
                        type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.104.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>