<connectionStrings>
  <!--在这里定义连接字符串，一定要有providerName-->
  <add name="MySql" connectionString="server=10.110.1.231;database=netcms;user id=root;password=root;character set=gbk;" providerName="MySql.Data.MySqlClient"/>
  <add name="SQLite" connectionString="Data Source=sqlite.db;" providerName="System.Data.SQLite"/>
  <add name="Oracle" connectionString="User Id=G_RPT_NW1208;Password=g_rpt_nw1208;Data Source=192.168.2.196:1521/thpms;" providerName="Oracle.ManagedDataAccess.Client"/>
  <add name="MSSQL" connectionString="Data Source=.;Initial Catalog=testdb;User ID=sa;Password=123456;Integrated Security=false;" providerName="System.Data.SqlClient"/>
</connectionStrings>